<footer class="footer">
  <small>
    Jamalot
    by <a href="http://web.stanford.edu/class/cs147/projects/sharing/the_knights_of_jamalot/">the Knights of Jamalot</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>